/* $skin: #4db6ac; */

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: linear-gradient(to top, #cdddf7, #3a7ebd);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}

.upload {
  position: relative;
  width: auto;
  height: 375px;
  box-sizing: border-box;
  border: 1px solid #9cbcf7;
  border-radius: 12px;
  box-shadow: #666 0px 5px 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  background: linear-gradient(white, #eff3f6);
  animation: fadeup .25s .25s ease both;
  transform: translateY(20px);
  opacity: 0;
  text-align: center;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.upload-files {
  padding: 5px 25px 5px 5px;
  vertical-align: middle;
  font-size: 13px;
  border: 1px solid Silver;
  border-radius: 8px;
  background: white;
}

.csvTable {
  display: none;
}

.progress-bar {
  position: relative;
  background: transparent !important;
  width: 100%;
  height: 30px;
  border: 1px solid #000;
}

.progress-bar-fill-low {
  height: 100%;
  width: auto;
  background: #4CAF50;
  transition: width 0.5s;
}

.progress-bar-fill-mid {
  height: 100%;
  width: auto;
  background: #ffd633;
  transition: width 0.5s;
}

.progress-bar-fill-high {
  height: 100%;
  width: auto;
  background: #e60000;
  transition: width 0.5s;
}

.progress-bar-value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
}

.tableBody {
  overflow-x: auto;
  white-space: nowrap;
}

.detail {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* .upload-files {
    header {
      background: $skin;
				  border-top-left-radius: 5px;
					 border-top-right-radius: 5px;
      text-align: center;
      p {
        color: #fff;
        font-size: 40px;
        margin: 0;
        padding: 50px 0;
        i {
          transform: translateY(20px);
          opacity: 0;
          font-size: 30px;
          animation: fadeup .5s 1s ease both;
        }
        .up {
          font-weight: bold;
          transform: translateX(-20px);
          display: inline-block;
          opacity: 0;
          animation: faderight .5s 1.5s ease both;
        }
        .load {
          display: inline-block;
          font-weight: 100;
          margin-left: -8px;
          transform: translateX(-20px);
          opacity: 0;
          animation: faderight 1s 1.5s ease both;
        }
      }
    }
    .body {
      text-align: center;
      padding: 50px 0;
      padding-bottom: 30px;
      &.hidden {
        display: none;
      }
      input {
        visibility: hidden;
      }
      i {
        font-size: 65px;
        color: lightgray;
      }
      p {
        font-size: 14px;
        padding-top: 15px;
        line-height: 1.4;
        b,
        a {
          color: $skin;
        }
      }
      &.active {
        border: dashed 2px $skin;
        i {
          box-shadow: 0 0 0 -3px #fff,
          0 0 0 lightgray,
          0 0 0 -3px #fff,
          0 0 0 lightgray;
          animation: file .5s ease both;
        }
        @keyframes file {
          50% {
            box-shadow: -8px 8px 0 -3px #fff,
            -8px 8px 0 lightgray,
            -8px 8px 0 -3px #fff,
            -8px 8px 0 lightgray;
          }
          75%,
          100% {
            box-shadow: -8px 8px 0 -3px #fff,
            -8px 8px 0 lightgray,
            -16px 16px 0 -3px #fff,
            -16px 16px 0 lightgray;
          }
        }
        .pointer-none{
          pointer-events: none;
        }
      }
    }
    footer {
      width: 100%;
      margin: 0 auto;
      height: 0;
      .divider {
        margin: 0 auto;
        width: 0;
        border-top: solid 4px darken($skin, 3.5%);
        text-align: center;
        overflow: hidden;
        transition: width .5s ease;
        span {
          display: inline-block;
          transform: translateY(-25px);
          font-size: 12px;
          padding-top: 8px;
        }
      }
      &.hasFiles {
        height: auto;
        .divider {
          width: 100%;
          span {
            transform: translateY(0);
            transition: transform .5s .5s ease;
          }
        }
      }
      .list-files {
        width: 320px;
        margin: 0 auto;
        margin-top: 15px;
        padding-left: 5px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 210px;
        &::-webkit-scrollbar-track {
            background-color: rgba(lightgray, .25);
        }
        &::-webkit-scrollbar {
            width: 4px;
            background-color: rgba(lightgray, .25);
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($skin, .5);
        }
        .file {
          width: 300px;
          min-height: 50px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          opacity: 0;
          animation: fade .35s ease both;
          .name {
            font-size: 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 80px;
            text-align: left;
          }
          .progress {
            width: 175px;
            height: 5px;
            border: solid 1px lightgray;
            border-radius: 2px;
            background: linear-gradient(to left, rgba($skin, .2), rgba($skin, .8)) no-repeat;
            background-size: 100% 100%;
            &.active {
              animation: progress 30s linear;
            }
          }

          @keyframes progress {
            from {
              background-size: 0 100%;
            }
            to {
              background-size: 100% 100%;
            }
          }

          .done {
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: $skin;
            border-radius: 50%;
            margin-left: -10px;
            transform: scale(0);
            position: relative;
            &:before {
              content: "View";
              position: absolute;
              top: 0;
              left: -5px;
              font-size: 24px;
              opacity: 0;
            }
            &:hover:before {
              transition: all .25s ease;
              top: -30px;
              opacity: 1;
            }
            &.anim {
              animation: done1 .5s ease forwards;
              #path {
                animation: done2 2.5s .5s ease forwards;
              }
            }
            #path {
              stroke-dashoffset: 7387.59423828125;
              stroke-dasharray: 7387.59423828125 7387.59423828125;
              stroke: #fff;
              fill: transparent;
              stroke-width: 50px;
            }
          }
          @keyframes done2 {
            to {
              stroke-dashoffset: 0;
            }
          }
          @keyframes done1 {
            50% {
              transform: scale(.5);
              opacity: 1;
            }
            80% {
              transform: scale(.25);
              opacity: 1;
            }
            100% {
              transform: scale(.5);
              opacity: 1;
            }
          }
        }
      }
      .importar {
        outline: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        border: solid 1px $skin;
        color: $skin;
        background: transparent;
        padding: 8px 15px;
        font-size: 12px;
        border-radius: 4px;
        font-family: Roboto;
        line-height: 1;
        cursor: pointer;
        transform: translateY(15px);
        opacity: 0;
							 visibility: hidden;
        margin-left: calc(50% - 40px);
        &.active {
          transition: transform .5s 1.5s ease, opacity .5s 1.5s ease, background;
          transform: translateY(0);
          opacity: 1;
									 visibility: visible;
        }
        &:hover{
          background: $skin;
          color: #fff;
        }
      }
    }
  } */
  @keyframes fadeup {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes faderight {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade {
    to {
      opacity: 1;
    }
  }
  @media (max-width: 400px){
    to{
    width: 100%;
    height: 100%;
  }
}

/* Clase genérica para ocultar elementos. No es muy buena práctica tener esto
porque lo mejor sería ir sacando los elementos del dom e ir agregándolos con Javascript
pero por ahora por simplificar las cosas mejor tenerlo así */
.hide {
  visibility: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
